extends layout

block content
    style().
        .js-pass-list > li[data-passed="true"],.js-pass-list > li{
            display:none
        }
        .js-pass-list > li[data-passed="false"]{
            display:list-item;
            color:red
        }
        .js-pass-match{
            color:red
        }

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-wknd">
                    <div class="panel-heading">
                            <div class="panel-title">Change My Password</div>
                    </div>
                    <div class="panel-body">
                        <form method="post" id="form_event" class="ajax parsley-validate" redir-url="#{home_page}">
                            <input type="hidden" id="#{csrf_token_name}" name="#{csrf_token_name}" value="#{csrf_token}" />
                            <div class="form-group">
                                <label for="username" class="control-label">Username</label>
                                <input type="text" readonly name="username" class="form-control" id="username" value="#{username}">
                            </div>
                            <div class="form-group">
                                <label for="old_password" class="control-label">Old Password</label>
                                <input type="password" name="old_password" class="form-control" id="old_password">
                            </div>
                            <div class="form-group">
                                <label for="new_password" class="control-label">New Password</label>
                                <input type="password" name="new_password" class="form-control js-pass-ref" id="new_password">
                                <ul class="form__pass-req js-pass-list">Password harus mengandung setidaknya
                                    <li>8 - 30 karakter</li>
                                    <li>1 angka (0 - 9)</li>
                                    <li>1 karakter uppercase (A - Z) dan 1 karakter lowercase (a - z)</li>
                                    <li>1 karakter spesial (contoh *, #, &amp;, dsb)</li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <label for="confirm_password" class="control-label">Confirm Password</label>
                                <input type="password" name="confirm_password" class="form-control" id="confirm_password">
                                <span class="js-pass-match">Password Not match</span>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="clearfix">
                            <div class="pull-right">
                                <button id="fsubmit" type="button" class="btn btn-wknd">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    script.
        functions.push(function () {
            $('#fsubmit').click(function() {
                if($(this).attr("disabled")==undefined){
                    $('#form_event').submit()
                }
            });
            submitBtnValidation()
            $(".js-pass-list").addClass("hidden")
            $('.js-pass-ref').keyup(function(){
                    var Value = this.value;
                    condition(/^.{8,30}$/, 0);
                    condition(/(?=.*?[0-9]{1})/, 1);
                    condition(/(?=.*?[A-Z]{1})(?=.*?[a-z]{1})/, 2);
                    condition(/(?=.*?[^a-zA-Z0-9]{1})/, 3);
                    let editAdmin = $("#admin_id").val()
                    if(Value=="" && editAdmin>0){
                        $(".js-pass-list").addClass("hidden isValid")
                        submitBtnValidation()
                        return
                    }
                    if(Value=="" && editAdmin==0){
                        $(".js-pass-list").addClass("hidden").removeClass("isValid")
                    }
                    submitBtnValidation()

                    function condition(reg, nth) {
                            var li = $('.js-pass-list li');
                            if(reg.test(Value)){
                                    li.eq(nth).attr('data-passed',true)
                            } else {
                                    li.eq(nth).attr('data-passed',false)
                            }

                            $(".js-pass-list").removeClass("hidden isValid")
                            if(li.filter('[data-passed="false"]').length==0){
                                $(".js-pass-list").addClass("hidden isValid")
                            }
                        }
            });
            $("#confirm_password , #new_password").on("keyup",(e)=>{
                let newPasswordVal = $("#new_password").val()
                let confirmPasswordVal = $("#confirm_password").val()

                $(".js-pass-match").removeClass("hidden").removeClass("isValid")
                if(confirmPasswordVal==""){
                    $(".js-pass-match").addClass("hidden")
                }

                if(newPasswordVal==confirmPasswordVal && confirmPasswordVal!=""){
                    $(".js-pass-match").addClass("hidden").addClass("isValid")
                }
                submitBtnValidation()
            })
            $("#confirm_password").trigger("keyup")

            function submitBtnValidation(){
                total = 3
                if($(".js-pass-list").hasClass("isValid"))
                    total--
                if($(".js-pass-match").hasClass("isValid"))
                    total--
                if($("#old_password").val()!="")
                    total--
                
                $("#fsubmit").removeClass("btn-wknd").addClass("btn-default").attr("disabled","disabled")
                if(total==0){
                    $("#fsubmit").addClass("btn-wknd").removeClass("btn-default").removeAttr("disabled")
                }
            }
        })